@{
    ViewData["Title"] = "Информация";
}

<h1>@ViewData["Title"]</h1>
<h2>О проекте</h2>

<div class="about_us">
    <img src="~/img/about.jpg" alt="Alternate Text"/> 

    <p>(с) 2024 АО "Технологии ОФС".</p>
    <p>RO-center</p>

</div>