@{
    ViewData["Title"] = "Select IP Address";
}

<h2>Выбор VSAT</h2>

<form asp-action="SetIpAddress" method="post">
    <div class="form-group">
        <label for="ipPart"></label>
        <select id="ipPart" name="ipPart" class="form-control">
            @for (int i = 1; i <= 200; i++)
            {
                <option value="@i">@i</option>
                
            }
        </select>
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Принять</button>
</form>