<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        /* Стили для кнопки, имитирующей btn-info из Bootstrap */
        .btn-info {
            background-color: #17a2b8; /* Цвет фона Bootstrap btn-info */
            color: #fff; /* Цвет текста */
            border: 1px solid transparent; /* Граница с прозрачным цветом */
            border-radius: 0.25rem; /* Радиус скругления углов */
            padding: 0.60rem 1.125rem; /* Отступы внутри кнопки */
            font-size: 1rem; /* Размер шрифта */
            font-weight: 400; /* Толщина шрифта */
            text-align: center; /* Выравнивание текста */
            text-decoration: none; /* Убирает подчеркивание текста */
            display: inline-block; /* Отображение в виде строки */
            cursor: pointer; /* Курсор указателя */
            transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; /* Плавный переход цвета фона и границы */
        }

            /* Стили для кнопки при наведении */
            .btn-info:hover {
                background-color: #138496; /* Цвет фона при наведении */
                border-color: #117a8b; /* Цвет границы при наведении */
            }

            /* Стили для кнопки при нажатии */
            .btn-info:active {
                background-color: #117a8b; /* Цвет фона при нажатии */
                border-color: #10707f; /* Цвет границы при нажатии */
                box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); /* Тень для кнопки при нажатии */
            }
    </style>
</head>

<body>
    <h1>Выбор VSAT</h1>
    <p style="margin-bottom: 20px;"></p>

    <form asp-action="SetIpAddress" method="post">
        <div class="form-group" style="margin-bottom: 15px; margin-left: 40px;">
            <label for="ipPart"></label>
            <select id="ipPart" name="ipPart" class="form-control" style="width: 220px;">
                @for (int i = 1; i <= 200; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>

            <button type="submit" class="btn btn-info" style="margin-left: 10px">
                Принять
            </button>
        </div>
    </form>
</body>

</html>
