<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Gilroy&display=swap" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v18_25"><div class="v8_21" <img src="~/css/Pictures/v8_21.png"><div class="v8_20"><span class="v6_5">Войдите в Вашу учетную запись</span><div class="name"></div><div class="name"></div><div class="name"></div><div class="name"></div></div><div class="v6_4"></div></div></div>
</body>
</html>